.general-info-wrapper {
    margin: 20px;
    text-align: center;
    max-width: 200px;
}


.quize-genereal-info-questions-count{
    margin-right: 20px;
}

.quize-general-info-start-btn{
    display: block;
    width: 80%;
    height: 40px;
    margin: auto;
    box-shadow: none;
}
    

