@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.page-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  padding: 16px 24px;
  background-color: #fff;
  border-bottom: 1px solid rgb(235, 237, 240)
}

.page-header-back {
  float: left;
  margin: 8px 0;
  margin-right: 16px;
  font-size: 16px;
  line-height: 1;
}
.page-header-back:hover {
  cursor: pointer;
  color: #247cc4;
}
.page-header-heading-title {
  display: block;
  float: left;
  margin-bottom: 0;
  padding-right: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.action-zone {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px;
  text-align: center;
  border-top: 1px solid rgb(235, 237, 240)
}







.quizzes-list-wrapper{
  display: inline-block;
  text-align: center;
  margin: auto;
  overflow: hidden;
  align-self: center;
  width: 90%;
  margin-top: 20px;
}

.quize-item{
  float: left;
  display: block;
  margin-bottom: 20px;
}


.quize-card-wrapper {
  float: left;
  margin: 10px;
}