.quize-list-header-title{
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: start;
    border-bottom: 1px solid #e8e9eb;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
}